*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images.png");
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: azure;
    text-decoration: none;
    padding: 5px;
    font-family: poppins;
    font-size: 25px;
}
.nav-area li a:hover{
    background: #FFF;
    color: #333;
}
.logo img{
    width: 100px;
    float: left;
    height: auto;
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    text-align: center;
    margin: 20% 30%;
}
.welcome-text h1{
    text-align: center;
    color: #FFF;
    font-size: 50px;
}
.welcome-text a{
    border: 1px solid #FFF;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: none;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}
.welcome-text a:hover{
    background: #FFF;
    color: #000;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 0;
}
slider{
    display: block;
     width: 100%;
    height: 100%;
    background-color: azure;
    overflow: hidden;
    position: absolute;
}
slider > *{
       display: block;
     width: 100%;
    height: 100%;
    background-color: azure;
    overflow: hidden;
    position: absolute;
    animation: slide 12s infinite;
}
slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(home%20services.jpeg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(2){
    animation-delay: 4s;
    background-image: url(buy&sell.jpeg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(3){
    animation-delay: 6s;
    background-image: url(sell.jpeg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(4){
    left: 0%;
    animation-delay: 8s;
    background-image: url(repair.jpeg);
    background-size: cover;
    background-position: center;
}
slide p{
    font-family: comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: #FFF;
}
@keyframes slide{
    0%{left: 100%; width: 100%;}
    5%{left: 0%;}
    25%{left: 0%;}
    30%{left: -100%; width: 100%;}
    30.0001% {left: -100%; width: 0%;}
    100%{left: 100%; width: 0%;}
    
}
.float {
    width: 100px;
    height: 100px;
}
.y{
    background: #39b7dd;
    text-align: center;
    height: 60px;
    font-size: 50px;
    color: white;
}
.newsletter input{
    font-size: 25px;
    color: blue;
    background: white;
    width: 400px;
    height: 50px;
}
.email input{
    width: 400px;
    height: 50px;
    box-sizing: 50%;
    font-size: 20px;
    color: blue;
}
.but{
    margin-top: 10px;
    background: none;
    border: 2px solid #00FFFF;
    color: blue;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    margin: 12px 0;


}
.container{
    list-style: none;
}