*{
    margin: 0px;
padding: 0px;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images.png");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.loginbox{
 width: 280px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;

}
.loginbox h1{
font-size: 40px;
float: left;
border-bottom: 6px solid #00FFFF;
margin-bottom: 50px;
padding: 13px 0;
}
.textbook{
    width: 100%;
    font-size: 25px;
    margin: 8px 0;
    padding: 8px 0;
    border-bottom: 6px solid #00FFFF;

}
u{
        width: 100%;
    font-size: 25px;
    margin: 8px 0;
    padding: 8px 0;
    border-bottom: 6px solid #00FFFF;
}
.textbook input{
    border: none;
    background: none;
    outline: none;
    margin: 0 10px;
    width: 80%;
    font-size: 15px;
    float: inherit;

}
.but{
    margin-top: 10px;
    background: none;
    border: 2px solid #00FFFF;
    color: white;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    margin: 12px 0;


}
.gender{
    color: white;
    font-size: 20px;
}

.j{
    color: rgb(#00FFFF);
    font-size: 30px;
}
.container ul{
    list-style: none;
}
.container ul li{
        background-color: blue;
    border: 1px solid white;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    font-size: 15px;
    color: white;
}
.container ul li:hover{
    background-color: #388222;
}
.container ul ul{
    display: none;
}
.container ul li:hover > ul{
    display: block;

}
.email input{
    width: 80px;
    height: 50px;
    box-sizing: 50%;
    font-size: 20px;
    color: blue;
}